<div class="row" ng-hide-auth>
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<div class="Absolute-Center is-Responsive">
			<img src="app/assets/img/logo.png" class="img-responsive" style="text-align: center;margin: auto;" />
			<br />
		</div>
	</div>
</div>
<br />
<div class="row" ng-hide-auth>
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<div class="Absolute-Center is-Responsive">
			<div class="list-group well" style="text-align:left">
				<a class="list-group-item active" ng-click="goToPage('/login')">
					<i title="About" class="fa fa-lock" aria-hidden="true"></i> Login
				</a>
				<a class="list-group-item active">
					<i title="Buy" class="fa fa-shopping-cart" aria-hidden="true"></i> Register
				</a>
				<a class="list-group-item active">
					<i title="About" class="fa fa-question" aria-hidden="true"></i> About
				</a>
<!--
				<a class="list-group-item active">
					<i title="Buy" class="fa fa-usd" aria-hidden="true"></i>
				</a>
				<a class="list-group-item active">
					<i title="Buy" class="fa fa-mobile" aria-hidden="true"></i>
				</a>
				<a class="list-group-item active">
					<i title="Buy" class="fa fa-reply" aria-hidden="true"></i>
				</a>
-->
			</div>
		</div>
	</div>
</div>
<br />
<div class="row" ng-hide-auth>
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<div class="Absolute-Center is-Responsive">
			<button type="button" class="btn btn-default btn-circle btn-lg">
				<i title="About" class="fa fa-facebook" aria-hidden="true"></i>
			</button>
			<button type="button" class="btn btn-default btn-circle btn-lg">
				<i title="Buy" class="fa fa-twitter" aria-hidden="true"></i>
			</button>
			<button type="button" class="btn btn-default btn-circle btn-lg">
				<i title="Buy" class="fa fa-instagram" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>
<div class="row" ng-show-auth>
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<div class="Absolute-Center is-Responsive">
			<div class="list-group well" style="text-align:left">
				<a ng-show="!me.isAdmin" class="list-group-item active">
					<i title="About" class="fa fa-search" aria-hidden="true"></i> Find Deals
				</a>
				<a ng-show="!me.isAdmin" class="list-group-item active">
					<i title="About" class="fa fa-map-marker" aria-hidden="true"></i> Deals Near Me
				</a>
				<a ng-show="!me.isAdmin" class="list-group-item active">
					<i title="About" class="fa fa-ticket" aria-hidden="true"></i> Local Vendors
				</a>
				<a ng-href="#/vendors" class="list-group-item active">Manage Vendors</a>		
				<a ng-href="#/coupons" class="list-group-item active">Manage Coupons</a>
				<a class="list-group-item active" ng-click="goToPage('/logout')">
					<i title="About" class="fa fa-unlock" aria-hidden="true"></i> Logout
				</a>
			</div>
<!-- admin only pages -->
		</div>
	</div>
</div>